# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
env/
venv/
.venv/

# Coverage
.coverage
coverage/

# PyTest
.pytest_cache/

# VS Code
.vscode/

# IntelliJ
.idea/

# Node.js
node_modules/

# OS
.DS_Store
Thumbs.db