# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Virtual Environments
# =========================
env/
venv/
.venv/

# =========================
# PyTest
# =========================
.pytest_cache/
.coverage
coverage/
htmlcov/

# =========================
# Django
# =========================
db.sqlite3
*.sqlite3
media/
staticfiles/

# =========================
# Flask
# =========================
instance/
.flaskenv

# =========================
# FastAPI
# =========================
*.log

# =========================
# Node.js (Jest / Mocha)
# =========================
node_modules/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db